body{
    background-color:rgb(76, 71, 57);
}
.navbar{
    display: flex;
    background-color: rgb(228, 192, 115);
    height: 40px;
    width: 1535px;;
    margin-top: -10px;
    margin-left: -10px;
    justify-content: end;
    padding-top: 10px;
}
.navtext{
    text-decoration: none;
    font-size: 25px;
    font-family:serif;
    color: black;
    margin-left: 15px;
    margin-top: 50px;
    margin-right: 5px;

}
.navtext:hover{
    background-color: rgb(147, 124, 73);
    border-radius: 5px;
}
.slider{
    margin-left: 270px;
    position: relative;
    height: 500px;
  width: 1100px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  display: flex;
    margin-top: 20px;
}
.slider-cont{
    display: flex;
  transition: transform 0.5s ease;
  width: 1000px;
    
    /* margin-left: 30px;
    width: 1000px;
    transition: transform 0.5s easy; */
}
.slide{
    transition: transform 0.5s ease;
    width: 900px;
    /* background-color: rgb(130, 130, 130);
    margin-left: 40px;
    min-width: 100%; */
    min-width: 100%;
  position: relative;
}

.info{
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 10px;
  border: none;
}
.strelka{
    height: 60px;
    width: 60px;
    margin-top: 150px;
    margin-left: 40px;
}

#img{
    margin-top: 20px;
    height: 600px;
    width: 1435px;
    margin-left: 20px;
    background-color: blanchedalmond;
}
#Abai{
    display: flex;
    margin-top: 20px;
}
.abai{
    margin-top: 20px;
}
hr{
    margin-left: 20px;
}
.back-txt{
    background-color: rgb(197, 138, 13);
    width: 1300px;
    height: 800px;
    margin-right: 100PX;
    padding: 15px;
}
#blackword{
    margin-top: 30px;
    display: flex;
}
#bw{
    height: 700px;
    width: 350px;
    overflow-y: scroll;
    flex-wrap: wrap;
    margin-left: 100px;
}
.words{
    height: 50px;
    width: 200px;
    background-color: rgb(208, 189, 103);
    margin-top: 10px;
    transition: transform 0.3s ease;
}
.cur{
    margin-right: 250px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
.words:hover{
    transform: scale(1.2);
}
#Book{
    display: flex;
    justify-content: space-around
}
.qarta{
    border-radius: 10px;
    margin-top: 30px;
    height: 400px;
    width: 350px;
    background-color: rgb(101, 101, 101);
}
.quat{
    border-radius: 10px;
    height:250px;
    width: 350px;
    background-color: black;
}
footer{
    background-color: rgb(55, 51, 41);
    height: 300px;
    width: 1535px;
    margin-left: -10px;
    margin-right: -10px;
}
